body{
    background-color: #000;
    background-image: url("img/Background.png");
    background-size: cover;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    margin:0;
    padding:0;
    overflow:visible;
}

#Form{
    text-align: center;
    align-content: center;
    margin:auto;
    background-color: #000;
    width: 50%;
    height: 100%;
  }
  
#CameraContainer {
  background-color: rgb(142,107,45);
  border-width: 7px;
  border-style: solid;
  border-color: rgb(59,39,0);
  align-content: center;
  text-align: center;
  display: none;
}

#CameraContainer img {
  border: solid 1px #000;
  width: auto;
  height: auto;
}

.ButtonClass{
  width: 300px;
  height: 50px;
  font-size: 25px;
  color: rgb(0,0,0);
  background-color: rgba(0,0,0,0);
  border-width: 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

#hiddenDiv{
  display: none;
}

#HiddenDiv{
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
}

#Photo{
  background-color: rgb(255,255,255);
  margin: 0 auto;
  border-width: 7px;
  border-style: solid;
  border-color: rgb(59,39,0);
}

#SnapButton{
  display: none;
}

#ForCameraContainer{
  width: 100%;
  background-color: rgba(0,0,0,0);
  display: inline-block;
}

#LeftButt{
  display: none;
  align-self: center;
  font-size: 21pt;
}

#RightButt{
  display: none;
  align-self: center;
  font-size: 21pt;
}

#DellImg{
  font-size: 21pt;
}

#curImg{
  font-size: 21pt;
}

#LeftRight{
  display: inline-block;
  align-items: center;
  text-align: center;
}

#PictureAndTimeSet{
  display: none;
  background-color: rgba(0,0,0,0.9);
  align-items: center;
  text-align: center;
  align-content: center;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
  font-size: 40pt;
}

.PictureSet{
  font-size: 40pt;
}

.TimeSet{
  font-size: 40pt;
}

.TresholdSet{
  font-size: 40pt;
}

#PictOrTimeOK{
  font-size: 40pt;
  width: 200px;
  height: 100px;
}

#p1{
  color:rgb(255,255,0,255);
}

#p2{
  color:rgb(255,255,0,255);
}

#p3{
  color:rgb(255,255,0,255);
}